.main-container__inner
  = form_for(:session, url: sign_in_credit_path, html: { id:"form", method: :get}) do |f|
    .signup-form
      .signup-form__group
      %label{:for => ""} お名前(全角)
      %span 必須
      .name-form
        = f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder: "例) 山田", class: "signup-form__group-inner", pattern:"[ぁ-んァ-ン一-龥]+", required: ""
        = f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder: "例) 彩", class: "signup-form__group-inner", pattern:"[ぁ-んァ-ン一-龥]+", required: ""
      .signup-form__group
        %label{:for => ""} お名前カナ(全角)
        %span 必須
        .name-form
          = f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", placeholder: "例) ヤマダ", class: "signup-form__group-inner",pattern:"([ァ-ン]|ー)+",  required: ""
          = f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", placeholder: "例) アヤ", class: "signup-form__group-inner", pattern:"([ァ-ン]|ー)+", required: ""
      .signup-form__group
        %label 郵便番号
        %span 必須
        = f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", placeholder: "例) 1234567(7桁)", class: "signup-form__group-inner", pattern: "[0-9]{7}", required: ""
      .signup-form__group
        %label 都道府県
        %span 必須
        = f.text_field :prefecture , autofocus: true, autocomplete: "", placeholder: "例)東京都", class: "signup-form__group-inner",  pattern:"[ぁ-んァ-ン一-龥]+", required: ""
      .signup-form__group
        %label 市町村名
        %span 必須
        = f.text_field :city, autofocus: true, autocomplete: "", placeholder: "例)横浜市緑区", class: "signup-form__group-inner",  pattern:"[ぁ-んァ-ン一-龥]+", required: ""
      .signup-form__group
        %label 番地
        %span 必須
        = f.text_field :street_address, autofocus: true, autocomplete: "", placeholder: "例)青山1-1", class: "signup-form__group-inner",  pattern:"[ぁ-んァ-ン一-龥]+", required: ""
      .signup-form
        .actions
          = f.submit "次へ進む" ,class: "btn-red"