.redistration-main
  .redistration-main__head
    %h2
      会員情報を入力
  .redistration-main__form
    = form_for(:session, url: sign_in_address_path , html: { id:"form", method: :post}) do |f|
      .signup-form
        .signup-form__group
          %label ニックネーム
          %span 必須
          = f.text_field :nickname, autofocus: true, autocomplete: "nickname", placeholder: "例) メルカリ太郎", class: "signup-form__group-inner", required: ""
        .signup-form__group
          %label パスワード
          %span 必須
          = f.password_field :password, autocomplete: "new-password", placeholder: "pc・携帯どちらでも可", class: "signup-form__group-inner", required: ""
        .signup-form__group
          %label{:for => ""} パスワード(確認)
          %span 必須
          = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "７文字以上の半角英数字", class: "signup-form__group-inner", required: ""
          %p※ 英字と数字の両方を含めて設定してください。
          .signup-form__group
          %h3 本人確認
          %p 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
        .signup-form__group
          %label{:for => ""} お名前(全角)
          %span 必須
          .name-form
            = f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder: "例) 山田", class: "signup-form__group-inner", pattern:"[ぁ-んァ-ン一-龥]+", required: ""
            = f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder: "例) 彩", class: "signup-form__group-inner", pattern:"[ぁ-んァ-ン一-龥]+", required: ""
        .signup-form__group
          %label{:for => ""} お名前カナ(全角)
          %span 必須
          .name-form
            = f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", placeholder: "例) ヤマダ", class: "signup-form__group-inner",pattern:"([ァ-ン]|ー)+",  required: ""
            = f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", placeholder: "例) アヤ", class: "signup-form__group-inner", pattern:"([ァ-ン]|ー)+", required: ""
        .signup-form__group
          %label{:for => ""} 生年月日
          %span 必須
          .birthday-form
            != sprintf(f.date_select(:birthday, prefix:'birthday', prompt:"--",use_month_numbers:true, start_year:Time.now.year, end_year:1900, date_separator:'%s'),'年','月')+'日'
          %p※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
      .signup-form
        .actions
          = f.submit "次へ進む"
        