.login-main
  .login-main__top
    ="アカウントをお持ちでない方はこちら"
    = link_to "新規会員登録" , ''
  .login-main__middle
    .btn-sns.btn-sns__facebook
      =icon('fab', 'facebook',class:"icon--facebook")
      = "Facebookでログイン"
    .btn-sns.btn-sns__google
      =icon('fab', 'google',class:"icon--google")
      = "Googleでログイン"
  .login-main__under     
    = form_for @user do |f|
      .form__field      
        .form__field--input__email
          = f.email_field :email ,placeholder: "メールアドレス"
        .form__field--input__password
          = f.password_field :passwoed ,placeholder:"パスワード"   
        .form__field--login
          = f.submit "ログイン"
        .form__field--forget
          = link_to "パスワードお忘れの方" ''
             
      
      