= content_for(:html_title) { '支払い方法 - Fmarket' }
= render 'shared/header'
= render 'shared/breadcrumb'
%main.card
  .container
    %article.content
      .title
        %h2 支払い方法
      .list
        %h3.sub-title クレジットカード一覧
        %section.list__add-card
          %button{type:'submit', class:'list__add-card--btn'}
            %span= link_to 'クレジットカードを追加する','#'
        .list__border
        .list__payment-link
          %span=link_to '支払い方法について','#'
    %nav= render 'shared/mypage_side'
%nav= render 'shared/sellbutton'
%aside= render 'shared/footertop'
%footer= render 'shared/footer'