- breadcrumb :users
.header
  = render "shared/header"
  = render 'shared/breadcrumb'
.main
  =render "shared/mypage_side"
  =render "shared/mypage_main"
.nav
  = render 'shared/sellbutton'
.footer-top
  = render 'shared/footertop'
.footer
  = render 'shared/footer'