= render 'shared/header'
%section.logout-wrapper
  .profile-logout
    = render 'shared/mypage_side'
  .logout-content-wrpper
    =link_to destroy_user_session_path, class: "logout-content__btn",method: :delete do
      .logout-container
        %form{action: "", method: "post",class: "logout-content"}
          .button
            %input{type: "submit", value: "ログアウト", class: "logout-content__btn"}


  = render "/shared/sellbutton"
.footertop
= render "/shared/footertop"
.footer
= render "/shared/footer"