.mypage-side
  .mypage-side--nav
    %ul.mypage-side--nav__list
      %li.mypage-side--nav__list__item
        =link_to "" do
          マイページ
          = fa_icon "angle-right"
      %li.mypage-side--nav__list__item
        =link_to "" do
          お知らせ
          = fa_icon "angle-right"
      %li.mypage-side--nav__list__item
        =link_to "" do
          やる事リスト
          = fa_icon "angle-right"
      %li.mypage-side--nav__list__item
        =link_to "" do
          いいね！一覧
          = fa_icon "angle-right"
      %li.mypage-side--nav__list__item
        =link_to "" do
          出品する
          = fa_icon "angle-right"
      %li.mypage-side--nav__list__item
        =link_to "" do
          出品した商品-出品中
          = fa_icon "angle-right"
      %li.mypage-side--nav__list__item
        =link_to "" do
          出品した商品-取引中
          = fa_icon "angle-right"
      %li.mypage-side--nav__list__item
        =link_to "" do
          出品した商品-売却済み
          = fa_icon "angle-right"
      %li.mypage-side--nav__list__item
        =link_to "" do
          購入した商品-取引中
          = fa_icon "angle-right"
      %li.mypage-side--nav__list__item
        =link_to "" do
          購入した商品-過去の取引
          = fa_icon "angle-right"
      %li.mypage-side--nav__list__item
        =link_to "" do
          ニュース
          = fa_icon "angle-right"
      %li.mypage-side--nav__list__item
        =link_to "" do
          評価一覧
          = fa_icon "angle-right"
      %li.mypage-side--nav__list__item
        =link_to "" do
          ガイド
          = fa_icon "angle-right"
      %li.mypage-side--nav__list__item
        =link_to "" do
          お問い合わせ
          = fa_icon "angle-right"
    .mypage-side--nav__head
      メルペイ
      %ul.mypage-side--nav__list
        %li.mypage-side--nav__list__item
          =link_to "" do
            残高・振り込み申請
            = fa_icon "angle-right"
        %li.mypage-side--nav__list__item
          =link_to "" do
            ポイント
            = fa_icon "angle-right"
    .mypage-side--nav__head
      設定
      %ul.mypage-side--nav__list
        %li.mypage-side--nav__list__item
          =link_to "" do
            プロフィール
            = fa_icon "angle-right"
        %li.mypage-side--nav__list__item
          =link_to "" do
            発送元・お届け先住所変更
            = fa_icon "angle-right"
        %li.mypage-side--nav__list__item
          =link_to "" do
            支払い方法
            = fa_icon "angle-right"
        %li.mypage-side--nav__list__item
          =link_to "" do
            メール/パスワード
            = fa_icon "angle-right"
        %li.mypage-side--nav__list__item
          =link_to "" do
            本人情報
            = fa_icon "angle-right"
        %li.mypage-side--nav__list__item
          =link_to "" do
            ログアウト
            = fa_icon "angle-right"