.signup
  .signup__main
    .signup__main--top
      %h2 新規館員登録
    .signup__main--form
      .btn-sns.btn-sns__mail
        = fa_icon "envelope", class: "icon--mail"
        = "メールアドレスで登録する"
      .btn-sns.btn-sns__facebook
        = fa_icon "facebook" , class: "icon--facebook" 
        = "Facebookで登録する"
      .btn-sns.btn-sns__google
        = fa_icon  "google" , class: "icon--google"
        = "Googleで登録する"  