.account-page
  .login-header
    %h.header-center
      =link_to '', class: "login-header--link" do
        = image_tag ("fmarket_logo_red.svg")
    
  
  .login-main
    .login-main__top
      ="アカウントをお持ちでない方はこちら"
      = link_to "新規館員登録" , ''
    .login-main__middle
      .btn-sns.btn-sns__facebook
        = fa_icon "facebook" , class: "icon--facebook" 
        = "Facebookでログイン"
      .btn-sns.btn-sns__google
        = fa_icon  "google" , class: "icon--google"
        = "Googleで登録"  
    .login-main__under
      .form__field      
        .form__field--input__email
          %input 
          %input
           
             
        .form__field--input__password

        .form__field--login.btn-sns
          =  "ログイン"
        .form__field--forget
          =  link_to "パスワードお忘れの方" ''
          
      
  .footer
    %ul.footer__navi
      %li 
        = link_to "プライバシーポリシー"  ,'#'
      %li
        = link_to "メルカリ利用規約" ,'#'
      %lI  
        = link_to "特定商取引に関する表記" ,'#' 
    
    .footer__mercari-logo
      = image_tag ("logo_gray.svg")
      
