.wrapper
  %header.header-sell
  %main.sell-contents
    %section.sell-contents__main
      .sell-content
        .sell-content__inner
          %h2 商品の情報を入力
          %form.sell-content__form{enctype: "multipart/form-data", method: "post"}
            .sell-upload
              %label 出品画像
              %span.must 必須
              %p.info 最大10枚までアップロードできます
              .sell-upload__image
                #image-drop
                  %input{type:"file", id:"image-drop__file", multiple: "multiple", style: "display:none"}
                  %pre
                    ドラッグランドドロップ
                    またはクリックしてファイルをアップロード

            .sell.name
              .form-name
                %label 商品名
                %span.must 必須
                .form-name__input
                  %input{class:"input-name", placeholder:"商品名(必須　４０文字まで)"}
              .form-info
                %label 商品の説明
                %span.must 必須
                .form-info__text
                %textarea{class:"text-info", placeholder:"商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）"}
            .sell.detail
              %h3.detail-category 商品詳細
              .sell-form
                .form-pulldown
                  %label カテゴリ
                  %span.must 必須
                  .category-pulldown
                    %select.pulldown
                .form-pulldown
                  %label 商品の状態
                  %span.must 必須
                  .condition-pulldown
                    %select.pulldown
            .sell.shipping
              %h3.shipping-about 配送について
              .sell-form
                .form-pulldown
                  %label 配送料の負担
                  %span.must 必須
                  .shipping-pulldown
                    %select.pulldown
                .form-pulldown
                  %label 発送元の地域
                  %span.must 必須
                  .shipping-pulldown
                    %select.pulldown
                .form-pulldown
                  %label 発送までの日数
                  %span.must 必須
                  .shipping-pulldown
                    %select.pulldown

  .toppage-main__category-bottom
    .toppage-main__category-name
      .toppage-main__text
        レディース新着アイテム
        .toppage-main__item-more
          = link_to 'もっと見る >', '#', class: 'toppage-main__more-link'
      .toppage-main__item
        .toppage-main__contents

          .toppage-main__content
            = link_to '', 'http://google.co.jp'
            .toppage-main__image
              %span
                ¥2,400
              = image_tag 'images.jpeg'
            .toppage-main__item-name
              例題
          .toppage-main__content
            = link_to '', 'http://google.co.jp'
            .toppage-main__image
          .toppage-main__content
            = link_to '', 'http://google.co.jp'
            .toppage-main__image
          .toppage-main__content
            = link_to '', 'http://google.co.jp'
            .toppage-main__image
          .toppage-main__content
            = link_to '', 'http://google.co.jp'
            .toppage-main__image
          .toppage-main__content
            = link_to '', 'http://google.co.jp'
            .toppage-main__image
          .toppage-main__content
            = link_to '', 'http://google.co.jp'
            .toppage-main__image
          .toppage-main__content
            = link_to '', 'http://google.co.jp'
            .toppage-main__image
          .toppage-main__content
            = link_to '', 'http://google.co.jp'
            .toppage-main__image
          .toppage-main__content
            = link_to '', 'http://google.co.jp'
            .toppage-main__image
    .toppage-main__category-name
      .toppage-main__text
        メンズ新着アイテム
        .toppage-main__item-more
          もっと見る
      .toppage-main__item
        アイテム表示
    .toppage-main__category-name
      .toppage-main__text
        家電・スマホ・カメラ新着アイテム
        .toppage-main__item-more
          もっと見る
      .toppage-main__item
        アイテム表示
    .topage-main__category-name
      .toppage-main__text
        おもちゃ・ホビー・グッズ新着アイテム
        .toppage-main__item-more
          もっと見る
      .toppage-main__item
        アイテム表示

  .toppage-main__category-top
    人気のブランド
    %ul.toppage-main__list
      %li.toppage-main__menu
        .toppage-main__logo
          シャネル
        .toppage-main__logo
          ルイヴィトン
        .toppage-main__logo
          シュプリーム
        .toppage-main__logo
          ナイキ

  .toppage-main__category-bottom
    .toppage-main__category-name
      .toppage-main__text
        レディース新着アイテム
        .toppage-main__item-more
          = link_to 'もっと見る >', '#', class: 'toppage-main__more-link'
      .toppage-main__item
        .toppage-main__contents

          .toppage-main__content
            = link_to '', 'http://google.co.jp'
            .toppage-main__image
              %span
                ¥2,400
              = image_tag 'images.jpeg'
            .toppage-main__item-name
              例題
          .toppage-main__content
            = link_to '', 'http://google.co.jp'
            .toppage-main__image

            .toppage-main__item-name
    .toppage-main__category-name
      .toppage-main__text
        メンズ新着アイテム
        .toppage-main__item-more
          もっと見る
      .toppage-main__item
        アイテム表示
    .toppage-main__category-name
      .toppage-main__text
        家電・スマホ・カメラ新着アイテム
        .toppage-main__item-more
          もっと見る
      .toppage-main__item
        アイテム表示
    .topage-main__category-name
      .toppage-main__text
        おもちゃ・ホビー・グッズ新着アイテム
        .toppage-main__item-more
          もっと見る
      .toppage-main__item
        アイテム表示
-# 出品ボタン
.toppage-button
  .toppage-button__main
    = link_to('#', class:"toppage-button__main-link") do
      .toppage-button__main-up
        %p 出品
      .toppage-button__main-bottom
        %i.fas.fa-camera.fa-3x
                  .sell-box__tax
                    %label 販売手数料(10%)
                    .price-tax
                      %input#jsTax.input-tax{readonly:"readonly"}
                  .sell-box__total
                    %label 販売利益
                    .price-total
                      %input#jsTotal.input-total{readonly:"readonly"}

            .sell.submit-btn
              .sell-text
                %p 禁止されている出品、行為を必ずご確認ください
                %p またブランド品でシリアルナンバー等がある場合はご記載ください。。偽ブランドの販売は犯罪であり処罰される可能性があります。
                %p また、出品をもちまして加盟店規約に同意したことになります。
              %button{type:'submit', class:'form-btn'}
                出品する
