.user
  .user__icon
  = link_to image_tag('') , ''
  .user__name
    = "name"
  .user__number
    = "評価"
    %span
      "10"
    ="出品数"
    %span
      8
  .user__tab
    %ul.user__tab__tabs
      %li 
        = link_to "お知らせ"  ,''
      %li
        = link_to "やる事リスト"  ,''
    .user__tab__content
      %ul.user__tab__content--ul
        %li.user__tab__content--li
        =link_to "" do
          通知
          = fa_icon "angle-right"
        %li.user__tab__content--li.mypage-go 
          =link_to "" do
            一覧を見る 
          