!!!
%html
  %head
    %meta{ content:  "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    = favicon_link_tag()
    %title
      = content_for?(:html_title) ? yield(:html_title) : "Fmarket"
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    %link{href: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css", rel: "stylesheet", type: "text/css"}/
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %script{src: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js", type: "text/javascript"}
    %script{src: "https://js.pay.jp/", type: "text/javascript" }
  %body
    .notifications
      - flash.each do |key, value|
        = content_tag(:div, value, class: key)
    = yield
